body {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(basecamp.jpg);
     }

     /* Navbar  */

    .logo {
      color: #fff;
      display:inline-block;
      font-size: 30px;
      font-weight: 7000;
      margin: 20px 30px;
     }
    
     .nav__links {
      display: inline-block;
      float: right;
      margin-right: 30px;
      margin-top: 20px;
     }
    
     .nav_li {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
     }
    
     .a_nav {
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
      
      border-radius: 5px;
     }

     .nav_li::after {
      content: '';
      width: 100%;
      height: 0px;
      display: block;
      background: #03e9f4;
      margin-top: 5px;
    
    }


    .nav_li:hover::after {
     height: 4px;
     transition: 0.5s;
    }

  

    /* PROJECT */

    .h1_project {
      text-align: center;
      margin-top: 100px;
      font-size: 50px;
      font-weight:1000;
      color: #fff;
      
    }

    /* CARD */

    
    .column {
      float: left;
      width: 25%;
      height: 50%;
      padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {
      margin: 0 -5px;
      width: 70%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
       
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      color: #fff;
      box-shadow: 11px 17px 48px #03e9f4;
      padding: 16px;
      text-align: center;
      background:linear-gradient(rgba(1.1.1.1)) ;
      box-shadow: 11px 17px 48px #03e9f4;
      border-radius: 10px;
    }
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   